.App {
  /* text-align: center; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: stretch; */
}

.main {
  /* flex: 1 1 auto; */
  /* height: 100%; */
  flex-grow: 1;
  /* border: 10px red solid; */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(21, 136, 62, 0.3)
    ),
    url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
/* .App .header,
.App .footer {
  height: 4em;
  flex: 0 1 auto;
  border: 1px black solid;
} */
.Appfooter,
.AppHeader {
  /* height: 100%; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  color: white;
  background-color: black;
}

.landing-page-cont {
  /* border: 1px black dotted; */
  /* height: 100%; */
  /* width: auto; */
  /* padding: 20%; */
  /* font-size: xxx-large; */
  /* background: white; */
  /* display: flex; */
  /* flex-direction: column; */
  color: white;
  font-size: 50px;
  font-weight: 600;
  padding: 5%;
}

.landing-page-greeting {
  margin-bottom: 20px;
}

.landing-page-message {
  margin-bottom: 20px;
  /* flex: 2 1 auto; */
  /* margin: 20%; */
}
.selectionpage {
  display: flex;
  flex-direction: column;
}
.selectionpage > * {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.selectionpage_userDefined {
  display: flex;
  flex-direction: column;
}
.selected-pattern {
  border: white 4px solid;
}

.song-list {
  /* width: 900px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0 400px; */
}

.ms-DetailsList{
  width: 1400px;
  opacity: 0.9;
  overflow-x: hidden;
}

.ms-DetailsRow-fields,
.ms-DetailsHeader,
.ms-DetailsRow,
.ms-DetailsRow-cell {
  background-color: black;
  opacity: 0.8;
  color: white !important;
  border: none;
  font-size: 15px;
  /* margin: 0 10px; */
  /* padding: 3px 10px; */
}

.ms-DetailsRow-cell{
  padding-left: 30px;
}

.ms-DetailsHeader-cell {
  color: #afafaf;
  border-bottom: 1px solid #afafaf;
}

.profile_pic_image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 10px
}

.ms-Slider-active {
  background-color: #15883e !important;
}

.selectionpage_userDefined_container{
  margin-top: auto;
}

.img__wrap {
  position: relative;
  /* height: 200px; */
  /* width: 257px;/ */
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(36, 62, 206, 0.6); */
  color: #000;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}