.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.App .body {
  flex: 1 1 auto;
  height: 100%;
  border: 10px black solid;
  background-image: url('https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Running/620/Workouts+Under+30+Mins/SummerRun620.jpg');
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.App .header,
.App .footer {
  height: 4em;
  flex: 0 1 auto;
  border: 1px black solid;
}
.Appfooter,
.AppHeader {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  color: white;
  background-color: #141127;
  justify-content: space-between;
}
.Appfooter {
  align-items: flex-end;
  flex-direction: row;
}
.landing-page-cont {
  border: 10px black solid;
  font-size: xxx-large;
  background: white;
  display: flex;
  flex-direction: column;
}
.landing-page-message {
  flex: 2 1 auto;
  margin: 20%;
}
.selectionpage {
  display: flex;
}
.selectionpage > * {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.selectionpage_userDefined {
  display: flex;
  flex-direction: column;
}
